@use './styles/globals';
@use './styles/mixins' as *;
@use './styles/variables' as *;

.App {
    padding: 0 $spacing-4;
    width: 100%;
    @include flex-column;
    align-items: center;
    font-family: Din;
}

.homepage {
    width: 100%;
    max-width: 800px;
}
.header {
    padding: $spacing-10 0;
    
    @include flex-column;
    gap: $spacing-3;
    &__title {
        font-weight: 700;
        font-size: 24px;
        @include tablet {
            font-size: 36px;
        }
    }
    &__about {
        font-weight: normal;
    }
}

.section__subtitle {
    
    padding: $spacing-4 0;
    font-weight: 700;
    font-size: 14px;
}

.listOfPortfolioPieces {
    @include flex-column; 
    gap: $spacing-4;
}