@use './styles/globals';
@use './styles/mixins' as *;
@use './styles/variables' as *;

.App {
    padding: 0 $spacing-4;
}

.header {
    padding: $spacing-6 0;
    border-top: 6px solid black;
    font-family: Din;
    @include flex-column;
    gap: $spacing-3;
    &__title {
        font-weight: 700;
        font-size: 24px;
    }
    &__about {
        font-weight: normal;
    }
}

.section__subtitle {
    border-top: 6px solid black;
    padding: $spacing-4 0;
    font-weight: 700;
    font-size: 14px;
}

.listOfPortfolioPieces {
    @include flex-column; 
    gap: $spacing-4;
}